# ===========================================================
# Requirements for ASRBANK
# Date: 7/sep/2023
#
# Python version this works for: 3.10 / Ubuntu 24.04
#
# For a better overview of dependencies: install pipdeptree
# ===========================================================

django==4.2.28          # EK: version 4.1 is not safe
django-nested-admin
lxml<5
openpyxl
urllib3

uwsgi ; sys_platform != 'win32'
